@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    font-family: 'Tilt Neon', cursive;
    background-color: rgb(64, 121, 140);
    color: rgb(11, 32, 39);
}

.image {
    justify-content: center;
    align-items: center;
    display: flex;
}

body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

body h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content {
    display: flex;
    height : 100vh;
    justify-content: center;
    overflow: hidden;
}
