@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    font-family: 'Tilt Neon', cursive;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: darkseagreen;
}

.container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    padding: 10px;
}

h3 {
    margin: 0;
    opacity: 0.75;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: darkseagreen;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}